@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("../../fonts/Avenir_Next/stylesheet.css");
@font-face {
  font-family: "Avenir Next";
  src: url(/fonts/AvenirNextCyr-Regular.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url(/fonts/Avenir\ Next\ W1G\ Bold.ttf) format("woff");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(/fonts/Avenir\ Next\ W1G\ Demi.ttf) format("ttf");
}

@font-face {
  font-family: "Avenir Next Medium";
  src: url(/fonts/Avenir\ Next\ W1G\ Medium.ttf) format("ttf");
}

body {
  font-family: "Avenir Next";
}

.header {
  width: 100%;
  background: linear-gradient(90.49deg, #53269d 0%, #6d31d0 100.2%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 20px 50px;
}

.header__logo-desktop {
  display: none;
}

.header__btn-connection {
  display: none;
}

.header .menu {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease;
  color: #434364;
  font-weight: 600;
}

.header__burger-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.header__burger-btn span {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  left: 0;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-15.3px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(13.3px);
}

.header.open .menu {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: auto;
}

.menu {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 200px;
  background-color: #fff;
  padding: 30px 16px;
  text-align: center;
  z-index: 10;
}
.menu-desktop {
  display: none;
}

.menu__link {
  cursor: pointer;
  color: #434364;
  font-size: 16px;
  display: block;
  line-height: 40px;
}

.main__text {
  font-family: "Montserrat";
  color: #fff;
  text-align: center;
}

.main__text-title h4 {
  line-height: 40px;
  font-size: 36px;
  margin: 30px 0 0 0;
}

.main__text span {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.main__text p {
  width: 365px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  font-weight: 600;
}

.main__button {
  font-family: "Montserrat";
  font-weight: 600;
  background: linear-gradient(96.1deg, #ffeb80 -22.07%, #fdbfa3 123.25%);
  border: none;
  opacity: 1;
  border-radius: 88.17px;
  padding: 8px 25.7px;
  gap: 10px;
  color: #6d31d0;
  font-size: 20px;
  line-height: 32px;
}

.main {
  width: 100%;
  height: 100vh;
}
.services {
  background: linear-gradient(180deg, #828cde -21.43%, #6d31d0 201.93%);
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__title-text {
  color: #fff;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 600;
  border-bottom: 4px solid #fdbfa3;
  margin-bottom: 36px;
  width: 380px;
}

.services__cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services__cards-item {
  box-shadow: 0px 14px 23px 0px #1c252c14;
  border-radius: 20px;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.cards__item-text {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.cards__item-title {
  color: #434364;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.cards__item-description {
  color: #605866;
  line-height: 21px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
.cards__item-btn {
  background: linear-gradient(96.1deg, #ffeb80 -22.07%, #fdbfa3 123.25%);
  box-shadow: 0px 3.53px 35.27px 0px #ffb9af4d;
  opacity: 1;
  border-radius: 88.17px;
  padding: 9px 25px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #6d31d0;
}

.swiper-wrapper {
  width: 100%;
  height: 840px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}
.swiper-slide-active {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}
.offer__wrapper-slide-one {
  background-image: url(../picture/picture_home1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 106px;
  padding-top: 40px;
}

.offer__wrapper {
  height: 840px;
  display: flex;
  flex-direction: column;
}
.offer__menu-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  row-gap: 30px;
}
.offer__menu-item {
  line-height: 20px;
}

.offer__menu-list span {
  width: 2px;
  height: 10px;
  background-color: #fff;
}

.offer__menu-link {
  font-family: "Montserrat";
  color: #ffdb80;
  padding: 0 5px;
  background: #6d31d080;
  border-radius: 10px;
  display: inline;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

.offer__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-bottom: 102px;
}

.offer__text-title {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
  height: 60px;
}

.offer__text-title h4 {
  margin: 0;
  font-size: 36px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  line-height: 24px;
}
.offer__text-title span {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  line-height: 50px;
}
.offer__text-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
  margin: 0;
}
.offer__line-break-mobile {
  display: block;
}

.offer__line-break-tablet {
  display: none;
}

.offer__line-break-middle {
  display: none;
}
.offer__line-break-desktop {
  display: none;
}

.offer__button {
  opacity: 1;
  padding: 8px 25px;
  border-radius: 88.17px;
  background: linear-gradient(96.1deg, #ffeb80 -22.07%, #fdbfa3 123.25%);
  box-shadow: 0px 3.53px 35.27px 0px #ffb9af4d;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #6d31d0;
  width: fit-content;
}
.offer__cities {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow: hidden;
  align-self: start;
}
.offer__title-cities {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  padding-left: 51px;
  line-height: 14px;
}
.offer__carts {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 84px;
  padding-left: 51px;
  padding-right: 150px;
}
.offer__carts-item {
  width: 144px;
  height: 180px;
  opacity: 1;
  padding: 8px 5.5px;
  border-radius: 12px;
  border-width: 2px;
  background: #ffffffcc;
  border: 2px solid #ffffff;
  box-shadow: 64.02px 76.82px 80px 0px #00000012;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.offer__carts-img {
  width: 129px;
  height: 123px;
  opacity: 1;
  border-radius: 10px 4px;
}
.offer__cart-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #828cde;
}

.offer__wrapper-slide-two {
  background-image: url(../picture/offer2_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 368px;
}

.offer__slide-two-menu-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  row-gap: 30px;
}

.offer__slide-two-menu-list span {
  width: 2px;
  height: 10px;
  background-color: #434364;
}

.offer__slide-two-menu-link {
  font-family: "Montserrat";
  color: #ffdb80;
  padding: 0 5px;
  background: #6d31d080;
  border-radius: 10px;
  display: inline;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

.offer__slide-two-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.offer__slide-two-text-title {
  text-align: center;
  color: #fff;
  font-family: "Montserrat";
}

.offer__slide-two-text-title h4 {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  color: #434364;
}
.offer__slide-two-text-title span {
  font-size: 20px;
  line-height: 32px;
}
.offer__slide-two-text-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #434364;
  text-align: center;
  margin: 0;
}

.offer__wrapper-slide-three {
  background-image: url(../picture/offer3_image.png);
  background-repeat: no-repeat;
  background-position: 70% center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 414px;
}

.offer__slide-three-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.offer__wrapper-slide-four {
  background-image: url(../picture/offer4_image.png);
  background-repeat: no-repeat;
  background-position: 70% center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 380px;
}

.offer__slide-four-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.offer__wrapper-slide-five {
  background-image: url(../picture/offer5_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 413px;
}

.offer__slide-five-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.offer__wrapper-slide-six {
  background-image: url(../picture/offer6_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 395px;
}

.offer__slide-six-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.offer__slider-dots.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  position: absolute;
  bottom: 44px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  border: 2px solid #ffffff !important;
  border-radius: 6px !important;
  z-index: 10;
  background: none !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
  background: #fff !important;
  border-radius: 10px !important;
  z-index: 10;
}

.swiper {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 94px;
  }
  .header__nav-bar {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  .header__btn-connection {
    display: block;
    background: #ffdb80;
    box-shadow: 0px 14px 23px 0px #1c252c14;
    padding: 8px 26.5px;
    border: none;
    border-radius: 30px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #6d31d0;
  }
  .menu {
    right: 94px;
    top: 110px;
  }
  .main__container {
    display: flex;
    flex-direction: column-reverse;
  }
  .offer__line-break-mobile {
    display: none;
  }
  .swiper-wrapper {
    height: 800px !important;
  }
  .offer__wrapper-slide-one {
    padding: 0;
  }
  .offer__wrapper-slide-three {
    background-position: 78% center;
    padding: 60px 0 429px 94px;
  }
  .offer__menu-list {
    justify-content: flex-start;
  }
  .offer__text-title {
    text-align: start;
  }
  .offer__text {
    padding: 140px 0 0 94px;
    gap: 20px;
    align-items: start;
    margin-bottom: 107px;
  }
  .offer__text-content {
    padding: 0;
    text-align: left;
    line-height: 22.5px;
  }
  .offer__line-break-tablet {
    display: block;
  }
  .offer__cities {
    padding-bottom: 20px;
    margin-left: 66px;
  }
  .offer__title-cities {
    padding-left: 0;
  }
  .offer__carts {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .offer__carts-item {
    background: #fff;
  }
  .offer__wrapper {
    display: flex;
    gap: 47px;
  }
  .offer__slide-two-text {
    margin: 140px 0 0 94px;
    align-items: start;
  }

  .offer__slide-two-text-content {
    text-align: left;
  }
  .offer__slider-dots.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    bottom: 413px;
    right: 43px;
  }
  .offer__slider-dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    border: 2px solid #ffffff;
    border-radius: 6px;
  }
  .offer__slider-dot.active {
    width: 20px;
    height: 20px;
    opacity: 1;
    background: #fff;
    border-radius: 10px;
  }
  .services {
    padding: 60px 0;
  }
  .cards__item-text {
    padding: 24px 0;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 20px 110px;
  }
  .header__logo-mobile {
    display: none;
  }
  .header__logo-desktop {
    display: block;
  }

  .menu {
    right: 110px;
    top: 110px;
  }
  .offer__text {
    padding-left: 0;
    margin-bottom: 78px;
    gap: 24px;
    margin: 0 0 120px 110px;
  }

  .offer__line-break-tablet {
    display: none;
  }
  .offer__line-break-middle {
    display: block;
  }

  .offer__cities {
    padding-left: 0;
    margin-left: 110px;
  }
  .offer__carts {
    gap: 40px;
  }
  .offer__carts-item {
    background: #ffffffcc;
  }

  .offer__slider-dots {
    bottom: 420px;
    right: 110px;
  }
  .offer__slide-two-text {
    margin-top: 246px;
  }
  .services {
    padding: 80px 0;
  }
  .services__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
  }
  .services__title {
    margin-bottom: 54px;
  }
  .cards__item-picture {
    display: block;
  }
  .cards__item-picture-tablet {
    display: none;
  }
  .services__title-text {
    margin-bottom: 56px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 20px 110px 20px 130px;
  }
  .header__nav-bar {
    gap: 71px;
  }
  .header__logo-mobile {
    display: none;
  }
  .header__logo-desktop {
    display: block;
  }
  .header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .menu-desktop {
    display: block;
  }
  .menu__list-desktop {
    display: flex;
  }
  .menu__link-desktop {
    color: #fff;
    padding: 9px 15px;
  }

  #link-arrow::after {
    content: url(../picture/arrow_down.svg);
    padding-left: 4px;
    width: 8px;
    height: 4px;
    position: relative;
    bottom: 3px;
  }
  .services {
    padding: 80px 0;
  }

  .offer__wrapper-slide-one {
    padding: 130px 0 78px 158px;
  }
  .offer__text {
    margin: 0;
    padding: 0;
    margin-bottom: 78px;
  }
  .offer__text-content {
    line-height: 23.5px;
  }
  .offer__cities {
    margin-left: 0;
    margin-bottom: 0;
  }

  .offer__slider-dots.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 360px;
    right: 61.5px;
  }
  .offer__carts {
    gap: 40px;
  }
  .offer__carts-item {
    background: #fff;
  }
  .offer__line-break-middle {
    display: block;
  }
  .swiper-wrapper {
    height: 740px !important;
  }
}
