@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Avenir Next Regular";
  src: url(/fonts/AvenirNextCyr-Regular.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next Demi";
  src: url(/fonts/Avenir\ Next\ W1G\ Demi.ttf) format("ttf");
}

@font-face {
  font-family: "Avenir Next Medium";
  src: url(/fonts/Avenir\ Next\ W1G\ Medium.ttf) format("ttf");
}

.header {
  width: 100%;
  background: linear-gradient(90.49deg, #53269d 0%, #6d31d0 100.2%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 20px 50px;
}

.header__logo-desktop {
  display: none;
}

.header__btn-connection {
  display: none;
}

.header .menu {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease;
  font-family: "Avenir Next Regular";
  color: #434364;
}

.header__burger-btn {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
  border: none;
  background-color: transparent;
}
.header__burger-btn span {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  left: 0;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-15.3px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(13.3px);
}

.header.open .menu {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  pointer-events: auto;
}

.menu {
  position: absolute;
  right: 50px;
  top: 100px;
  width: 200px;
  background-color: #fff;
  padding: 30px 16px;
  text-align: center;
}
.menu-desktop {
  display: none;
}

.menu__link {
  cursor: pointer;
  color: #434364;
  font-size: 16px;
  display: block;
  line-height: 40px;
}

.main__text {
  font-family: "Montserrat";
  color: #fff;
  text-align: center;
}

.main__text-title h4 {
  line-height: 40px;
  font-size: 36px;
  margin: 30px 0 0 0;
}

.main__text span {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.main__text p {
  font-family: "Avenir Next Regular";
  width: 365px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 30px;
}

.main__button {
  font-family: "Montserrat";
  font-weight: 600;
  background: linear-gradient(96.1deg, #ffeb80 -22.07%, #fdbfa3 123.25%);
  border: none;
  opacity: 1;
  border-radius: 88.17px;
  padding: 8px 25.7px;
  gap: 10px;
  color: #6d31d0;
  font-size: 20px;
  line-height: 32px;
}

.main {
  background-image: url(../picture/picture_home1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.main__container {
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  margin: auto;
}
.main__menu-list {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__menu-list span {
  width: 2px;
  height: 10px;
  background-color: #fff;
  margin: 5px 10px;
}
.main__menu-link {
  color: #ffdb80;
  padding: 0.34px 5px;
  background: #6d31d080;
  border-radius: 10px;
  display: inline;
  line-height: 20px;
  font-family: "Avenir Next Regular";
  font-size: 16px;
}

@media (min-width: 768px) {
  .header {
    padding: 20px 94px;
  }
  .header__nav-bar {
    display: flex;
    gap: 60px;
    align-items: center;
  }
  .header__btn-connection {
    display: block;
    background: #ffdb80;
    box-shadow: 0px 14px 23px 0px #1c252c14;
    padding: 8px 26.5px;
    border: none;
    border-radius: 30px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #6d31d0;
  }

  .menu {
    right: 94px;
    top: 110px;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 20px 110px;
  }
  .header__logo-mobile {
    display: none;
  }
  .header__logo-desktop {
    display: block;
  }

  .menu {
    right: 110px;
    top: 110px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 20px 110px 20px 130px;
  }
  .header__nav-bar {
    gap: 71px;
  }
  .header__logo-mobile {
    display: none;
  }
  .header__logo-desktop {
    display: block;
  }
  .header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
  }
  .menu-desktop {
    display: block;
  }
  .menu__list-desktop {
    display: flex;
  }
  .menu__link-desktop {
    color: #fff;
    font-family: "Avenir Next Regular";
    padding: 9px 15px;
  }

  #link-arrow::after {
    content: url(../picture/arrow_down.svg);
    padding-left: 4px;
    width: 8px;
    height: 4px;
    position: relative;
    bottom: 3px;
  }
}
